<h1>だんご三兄弟m</h1>

<h3>レシピ紹介</h3>
<div>
  <%= @title %> のTOP20品
</div>

<br />
   <% for num in 0..2 do %>
<%= @menu_title[num] %>

<%= @menu_material[num]%>
<br><br>
<% end %>
<div>
  <table class="recipeList">
    <% for num in 0..99 do %>
    <tr>
      <td><%= @titles %></td>

      <td><%= @menu_other[num] %></td>
      <td><%=@material[num]%></td>
    </tr>
    <% end %>
  </table>
</div>


<br />

<div id="elem-one" class="elem one">
  <span>KUTE</span>
</div>

<div>
  <button type="button" id="btn" class="btn">START</button>
</div>

