<!DOCTYPE html>
<html>
  <head>
    <meta name="keywords" content="料理,レシピ">
    <meta name="description" content="料理意思決定支援">
    <meta name="robots" content="noindex,nofollow">
    <meta name="author" content="のど飴">
    <meta name="generator" content="Frontweaver 8.2">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>料理リスト</title>

    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'list' %>
  </head>

  <body class="list">
    <%= yield %>
  </body>

  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/kute.js/1.6.2/kute.min.js"></script>
  <script src="https://cdn.jsdelivr.net/kute.js/1.6.2/kute-css.min.js"></script>
  <%= javascript_include_tag "list/animation" %>
  <%= javascript_include_tag "list/layout" %>
</html>
